# GOOGLE CORE
GEMINI_API_KEY=tu_api_key_de_google_ai_studio_aqui

# FIREBASE CONFIG (Copiar desde la consola de Firebase)
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=

# THIRD PARTY SERVICES
ELEVENLABS_API_KEY=
PADDLE_WEBHOOK_SECRET=
